################################### METADATA ###################################

# Contributors: %1
# Contacts: %2
# Creation Date: %3
# Language: Gitignore file

##################################### BODY #####################################

# Add here patterns that git should not track

##################################### EOF ######################################
