################################### METADATA ###################################

# Contributors: %/echo $TEMPLATE_USER/
# Contacts: %/echo $TEMPLATE_CONTACT/
# Creation Date: %/date +%F/
# Language: Gitignore file
# Git version: %/git --version/
# Origin: %/git remote get-url origin/

##################################### BODY #####################################

# Add here patterns that git should not track

##################################### EOF ######################################
