# %.echo ${PWD##*/} | tr '[:lower:]' '[:upper:] | tr -d '\n''.

__The body of your document goes here__

### METADATA

Field | Value
--- | ---
:pencil: Contributors | %/echo $TEMPLATE_USER | tr -d '\n'/
:email: Contacts | %/echo $TEMPLATE_CONTACT | tr -d '\n'/
:date: Creation Date | %/date +%F | tr -d '\n'/
:bulb: Language | Markdown Document
:page: Repository | %/git remote get-url origin | tr -d '\n'/

### EOF
