# %.echo ${PWD##*/} | tr '[:lower:]' '[:upper:]'.

__The body of your document goes here__

### METADATA

Field | Value
--- | ---
:pencil: Contributors | %/echo $TEMPLATE_USER/
:email: Contacts | %/echo $TEMPLATE_CONTACT/
:date: Creation Date | %/date +%F/
:bulb: Language | Markdown Document
:page: Repository | %/git remote get-url origin/

### EOF
