#!/usr/bin/env bash

################################### METADATA ###################################

# Contributors: %/echo $TEMPLATE_USER/
# Contacts: %/echo $TEMPLATE_CONTACT/
# Creation Date: %/date +%F/
# Language: Bash Script
# Bash Version: %/bash --version | head -n1/

##################################### CODE #####################################

# The code for your script goes here

##################################### EOF ######################################
